@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth; /* Assure un défilement fluide */
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
    color: #14b8a6;

    background-color: #090015;
    background-image:
            linear-gradient(0deg, #9ca3af 0.1px, transparent 0.6px),
            linear-gradient(90deg, #9ca3af 0.1px, transparent 0.6px);
    background-size: 100px 100px;
    backdrop-filter: blur(0.7px);
}

#root {
    height: 100%;
}

main {
    height: 100vh;
    overflow-y: auto; /* Permet le défilement vertical */
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-padding: 0;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    padding: 5rem 2rem;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #581c87;
}

a {
    text-decoration: none;
}
